<br><center><h1>Listing all players</h1></center><br>
<div class="search-filters">

  <form class="mb-5 mx-3">

    <label>Team Name:</label>
    <select name="team_id">
      <option value="" disabled selected>Team</option>
      <% Team.all.each do |team| %>
        <option value="<%= team.id %>" ><%= team.name %></option>
      <% end %>
    </select>

    <label>Player Name:</label>
    <input type="text" name="player_name" />

    <label>Age Range:</label>
    <input type="number" name="min_age" placeholder="Min Age" />
    <input type="number" name="max_age" placeholder="Max Age" />

    <button type="submit" class="btn btn-primary">Search</button>

    <button type="reset" class="btn btn-warning">Reset Filters</button>

  </form>

</div>

<%= render "player" %>